.root {
  padding: 100px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 767px) {
    padding: 40px;
    max-width: 500px;
  }

  @media (max-width: 567px) {
    padding: 20px;
  }

  h2 {
    font-size: 48px;
    line-height: 1.3;

    @media (max-width: 767px) {
      font-size: 36px;
    }

    @media (max-width: 567px) {
      font-size: 32px;
      line-height: 1.2;
      margin-bottom: 10px;
    }
  }

  span {
    font-size: 64px;
  }

  .description {
    font-size: 22px;

    @media (max-width: 767px) {
      font-size: 18px;
    }

    @media (max-width: 567px) {
      font-size: 17px;
    }
  }
}
